body[class*='category-'] { 

  /*
  .category-list tbody tr { 
    display: flex;
    width: 200%;
    padding: 20px 10px;
  }
  */
  

  .top-lists,
  .category-list thead { 
      display: none;
   }
  
  .topic-list {
      margin-top: 30px;
   }
  
  .list-container {
    margin-top: 0;
  }  
  
  .latest a {
    color: #068DD0;
    }
}
  

