body[class*='category-'] { 

  .category-title-name {
      overflow:hidden;
      &:after{
          content:'';
          display:inline-block;
          width:100%; 
          height:100%;
          margin-right:-100%;
          border-bottom:1px solid #000;
      }
    }

  .top-lists,
  .category-list thead,
  .category-logo { 
      display: none;
   }
  
  .topic-list {
      margin-top: 30px;
   }
  
  .list-container {
    margin-top: 0;
  }  
  
  .category-list .latest a {
    color: #068DD0;
    }
  
  table.category-list {
      tbody {
        display: flex;
        flex-wrap: wrap;
        border-top: none;
      }
    tr {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      border-bottom: none;
      margin-top: 35px;
      td.category {
        width: 85%;
        padding-top: 0;
      }  
      td.latest {
        padding-left: 0!important;
        .featured-topic {
          padding-left: 0;
        }
      } 
      td.topics .value:after {
        content: 'topics";
        color: $gray;   
      }   
    }
  }  
} } 

