body[class*='category-'] { 

  .category-list tbody tr { 
    display: flex;
    width: 200%;
    padding: 20px 10px;
  }

  .top-lists { 
      display: none;
   }
  
  .topic-list {
      margin-top: 30px;
   }
  
  .topic-list-bottom,
  .latest {
    display: none;
  } 
}
  

