@import "colors";

.categories-list.navigation-categories {
  .category-header-widget {
    display: none;
   }
}

    
.category-header-widget {
  margin-top: 50px;
  margin-bottom: 0;
  background-color: $white;
  padding: 50px 30px;
  .category-title-header {
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }
  .category-title-contents {
    padding: 0 20px !important;
    h1 {
      font-family: supply-regular;
    }  
    .category-title-description {
      color: $gray-dark;
    }   
  }   
  .parent-box-link {
    display: none;
  }  
}
