@import "fonts";
@import "colors";
    
.help {
     padding-bottom: 40px;
    .help-txt {
         padding-left: 30px;
         color: $white;
         line-height: 1.5;
         p {
            font-family: supply-light;
            padding-right: 30%;
         } 
         h3 {
            font-family: supply-regular;
            font-size: 2.25rem;
        } 
     }  
    .row {
      display: flex;
      flex-wrap: no-wrap;
      margin-right: -0.75rem;
      margin-left: -0.75rem;
    }
    .align-items-center {
      align-items: center !important;
    }
    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .container {
      width: 100%;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      margin-right: auto;
      margin-left: auto;
    }
     
     @media (min-width: 576px) {
        .container {
         max-width: 540px;
        }
    }  
     
     @media (min-width: 768px) {
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
         }    
        .container {
            max-width: 720px;
        }
    } 
     
     @media (min-width: 1080px) {
        .container {
          max-width: 1080px;
        }
    }
        
    .btn {
       border: none; 
       padding: 20px 30px 20px 30px;
       position: relative;
       z-index: 2;
       background-color: $base;
       color: $primary;
       font-size: 20px;
       font-family: supply-medium;
       &:before {
          content: '';
          background-color: $primary;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 10px;
          z-index: -1;
       }    
       &:hover:before {
          left: 10px;
          width: calc(100% - 10px);
          transition: width .3s ease-in-out,left .15s ease-in-out;
       }
       &:hover {
          color: $secondary;
          transition: .3s ease-in-out;
       }
    }
    .help-bg {
          background-image: url($footer-banner);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position-y: 50%;
          margin: 0 -30px;
          padding: 50px 25px;
    } 
 }

/*
body:not([class*='category-technical-discussions']) .help { 
  display: none; 
}
*/

