body:not([class*='category-']) #create-topic { 
  display: none; 
}

#navigation-bar {
    margin: 10px auto 20px;
    font-family: supply-medium;
}

#navigation-bar > li a.active,
#navigation-bar > li > a:hover {
    text-decoration: underline;
    background-color: inherit;
    color: inherit;
}

#navigation-bar li:nth-child(1){
    display: none!important;
}
