@import "colors";

.top {
  background-color: #ffffff;
}

.header {
  position: relative;
  align-items: center;
  height: 39px;
  justify-content: space-between;
  z-index: 1000;
}

@media (min-width: 576px) {
  .header {
    height: 58.5px;
  }
}  

@media (min-width: 992px) {
  .header {
    height: 72px;
  }
}

@media (min-width: 1160px) {
  .header {
    padding: 0;
    height: 72px;
  }
}

.btn-primary, .header {
  font-family: supply-medium;
}

.bg-white {
  background-color: #fff !important;
}
  
.navbar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 8px 3px;
  padding-top: 0px;
  position: relative;
  align-items: center;
  list-style: none;
  height: 3rem;
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 15px;
  }
}



@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.container-fluid {
  flex-wrap: nowrap;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} 

.navbar {
  list-style: none;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}


@media (min-width: 576px) {
  .navbar-collapse {
    flex-grow: initial;
    background-color: #f6f6f6;
    height: auto;
    overflow: hidden;
    padding: 0;
    position: initial;
    width: auto;
    z-index: 1;
  }
}  
  
.navbar-collapse {
    align-items: center;
}
  
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}
  
@media (min-width: 992px) {
  .navbar-nav {
  margin-top: 0;
  margin-left: -2px;
  background-color: #fff;
  }
}
  
 .navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
  
  
 @media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 12px;
  padding-right: 12px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

@media (min-width: 576px) {
.nav-link {
  font-size: 0.9334em;
  }
}

.text-uppercase {
  text-transform: uppercase !important;
}

.nav-link, .nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.nav-link {
  display: block;
  padding: 1.5rem;
}

.nav-link {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.prep::before {
  content: "_";
}

.navbar-toggler {
  display: block;
  height: 15px;
  padding: 0;
  position: absolute;
  top: 13px;
  margin-left: 17.8px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
  width: 20px;
  z-index: 1;
  font-size: 1.17188em;
  line-height: 1;
  background-color: transparent;
  border: none;
}  
  
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-toggler {
  display: none;
  }
}
.navbar-brand {
  font-size: 0;
  margin: 0 auto;
  margin-left: auto;
  outline: none;
  z-index: 1;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 0.75rem;
}

@media (min-width: 576px) {
.navbar-brand {
  background-color: #00FFF0;
  position: absolute;
  top: 0px;
  bottom: 0;
  padding: 9.5px;
  }
}

.navbar-brand::before {
  content: "";
  position: absolute;
  height: 100%;
  left: -0.75rem;
  top: 0;
  transition: width .3s ease-in-out,left .15s ease-in-out;
  width: .75rem;
  background: #000;
}

@media (min-width: 768px) {
  .logo_container img:last-child {
  display: none;
    }
}

@media (min-width: 992px) {
.navbar-brand img {
  height: 48px;
  width: 166px;
}
  }

@media (min-width: 992px) {
  .navbar-brand {
  width: 180px;
  padding: 0.85rem 1rem 0 1rem;
  }
}

 @media (min-width: 992px) {
.navbar-brand img {
  height: 48px;
  width: 166px;
  }
}

@media (min-width: 768px) {
.logo_container img:first-child {
  display: inline-block;
  }
}

  @media (min-width: 576px) {
.container-fluid {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
    }

.navbar .container-fluid {
  margin: 0 auto;
}

.nav-item:hover .nav-link {
  color: $base!important;
}

.nav-item:nth-child(3) .nav-link {
  color: $active!important;
}
