.top {
  background-color: #ffffff;
}

.header {
  position: relative;
  align-items: center;
  height: 39px;
  justify-content: space-between;
  z-index: 1000;
}

@media (min-width: 576px) {
  .header {
    height: 58.5px;
  }
}  

@media (min-width: 992px) {
  .header {
    height: 72px;
  }
}

@media (min-width: 1160px) {
  .header {
    padding: 0;
    height: 72px;
  }
}

.btn-primary, .header {
  font-family: supply-medium;
}

.bg-white {
  background-color: #fff !important;
}
  
.navbar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 8px 3px;
  padding-top: 0px;
  position: relative;
  align-items: center;
  list-style: none;
  height: 3rem;
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 32px;
  }
 }

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.container-fluid
  flex-wrap: nowrap;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} 

.navbar {
  list-style: none;
}
