@import "colors";

.d-header {
  background-color: $gray;
  border-left: 12px $base solid;
  #site-text-logo {
     font-family: supply-regular;
     font-size: 14px;
     font-weight: 400;
  }  
}  

.d-header-icons .d-icon {
  color: $primary;
}

