@import "ranges-colors";

.category-list tbody {
    display: flex;
    flex-wrap: wrap;
}
.category-list tbody tr {
    width: 48%;
    display: flex;
}
.category-list tbody .category {
    flex: 1;
}

td.latest,
td.featured-topic,
th.topics,
th.latest,
th.featured-topic {
    display: none;
} 

tr {
    padding: 20px 10px;
 }  

tbody tr:nth-last-child(-n+2),
thread tr {
    border-bottom: none;
}

tbody {
    border-top : none;
}    
    
.value:after {
    content: ' topics';  
}    

.parent-category .value {
    display: none;
 }    
  


