@import "ranges-colors";
@import "fonts";

.category-list tbody {
    display: flex;
    flex-wrap: wrap;
}
.category-list tbody tr {
    width: 48%;
    display: flex;
}
.category-list tbody .category {
    flex: 1;
}

td.latest,
td.featured-topic,
th.topics,
th.latest,
th.featured-topic {
    display: none;
} 

tr {
    padding: 20px 10px;
 }  

tbody tr:nth-last-child(-n+2),
thead tr {
    border-bottom: none;
}

tbody {
    border-top : none;
    .category-name {
        font-family: supply-medium;
    }
}    
    
.value {
    font-weight: initial;
    font-size: 0.8rem;
    :after {
        content: ' topics';  
    }     
}    

.parent-category {
  overflow:hidden;
  &:after{
      content:'';
      display:inline-block;
      width:100%; 
      height:100%;
      margin-right:-100%;
      border-bottom:1px solid #000;
  }
  .category-name {
      font-family: supply-light;
      font-size: 1.5em;
      margin-top: 30px;
  }  
  .value {
    display: none;
  }     
}

