@import "ranges-colors";

.category-list tbody {
    display: flex;
    flex-wrap: wrap;
}
.category-list tbody tr {
    width: 50%;
    display: flex;
}
.category-list tbody .category {
    flex: 1;
}

th.topics,
th.latest,
th.featured-topic {
    display: none;
}    
    



.parent-category {
  h3 {
    font-family: supply-bold;
    line-height: 1.3;
    margin-bottom: 1.5rem;
  } 
}  

.categories-list .category-boxes {
  
   .category-box {
    border: none;
    width: 100%;
     
    .category-box-inner {
      border: none;
      
      h3 {
        text-align: left;
        overflow: hidden;
        
        &:after{
          content: '';
          display: inline-block;
          width: 100%; 
          height: 100%;
          margin-right: -100%;
          border-bottom: 1px solid #000;
        }
        
      }
       
      .description {
        text-align: left;
      }
       
      .subcategories {
          a {
            width: 50%;
          }  
            
          .category-name {
            font-size: 16px;
            margin-left: 1em;
            margin-bottom: 4em;
          }    
      }
    } 
  } 
  
  .badge-wrapper.bullet .badge-category-bg {
  height: 100%;
  position: absolute;
}

} 



.subcategory-image-placeholder {
    display: none!important;
}



