@import "colors";

.navigation-controls {
  z-index: 1;
}

#create-topic {	
  color: $black; 
  background-color: $base;
  &.btn .d-icon {
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    padding: 2px 2px 2px 1px;
  }
}

body:not([class*='category-']) #create-topic { 
  display: none; 
}
	
#navigation-bar {
    z-index: 1;
    margin: 10px 0 20px auto;
    font-family: supply-medium;
    background-color: $white;	
    > li a.active,
    > li > a:hover {
        text-decoration: underline;
        background-color: inherit;
        color: inherit;
    }
    .latest {
	display: none;    
    }
 }    

.list-controls .combo-box .combo-box-header {
   border: none;
} 
  
.select-kit .select-kit-header {
    .selected-name .name {
	  font-family: supply-regular;
	  &::after {
		border-style: solid;
		border-width: 0.15em 0.15em 0 0;
		content: '';
		display: inline-block;
		height: 0.45em;
		left: 0;
		position: relative;
		top: 0.5em;
		transform: rotate(45deg);
		vertical-align: top;
		width: 0.45em;
	  }
	  &::first-letter {
	    text-transform: uppercase;
	   }
     }
     .caret-icon {
	     display:none;
	     }
  }	     

.categories-list {
   &.category {
      .badge-category-bg,
      .category-breadcrumb > li:nth-child(2),
      .category-breadcrumb > li:nth-child(3),
      .select-kit-collection > li:first-child {
		display: none!important;
      } 
   }
}

.category {
   .select-kit.single-select {
	.badge-category-bg {
	    display: none!important;
	}
   }	   
   .select-kit-row.category-row {
	.badge-category-bg {
	    display: block!important;
         }
   }	   
}	      
