body:not([class*='category-']) #create-topic { 
  display: none; 
}

#navigation-bar {
    margin: 10px auto 20px;
    font-family: supply-medium;
    > li a.active,
    > li > a:hover {
        text-decoration: underline;
        background-color: inherit;
        color: inherit;
    }
    span {
        font-family: supply-regular;
   }   
}

.list-controls .combo-box .combo-box-header {
  border: none;
}  
