.custom-search-banner-wrap {
  margin-top: 0;
  padding: 14em 0 8em;
}
  
.search-banner {
  background-position: 50% 20%;
  &:after {
    backgound-color: $white;
    height: 50px;
  }
}
  
.global-notice,
.create-topics-notice {
  display: none;
}
