.navigation-categories {
  .custom-search-banner-wrap {
    margin-top: 0;
    padding: 14em 0 8em;
  }

  .search-banner {
    background-position: 50% 20%;
    &:after {
      content: '';
      background-color: #fff;
      height: 90px;
      width: 100%;
      top: 436px;
      position: absolute
    }
  }
}

.category {
  .search-banner:after {
      content: '';
          background-color: #fff;
          height: 90px;
          width: 100%;
          top: 60px;
          position: absolute
    } 
   #main-outlet {
     padding-top: 1.5em;
   }
}

.global-notice,
.create-topics-notice {
  display: none;
}
 
