[class*="archetype-"]  {
     .regular {
          background-color: $white;
          padding: 50px 30px;
       }
     .search-banner::after {
          background-color: transparent!important;
    }    
    #topic-title .fancy-title:before {
         content: '_';
     }
    #topic-title h1 a,
    .widget-link .topic-link {
     font-family: supply-regular;
    }
     
} 
