[class*="archetype-"]  {
     .regular {
          background-color: $white;
       }
     .search-banner::after {
          background-color: transparent!important;
    }    
    #topic-title {
         .fancy-title:before {
            content: '_';
         }     
         h1 a {
            font-family: supply-regular; 
         }
     }
     .widget-link.topic-link {
            font-family: supply-regular;      
      }
     .posts {
           padding: 0 30px;
      }    
 }
