[class*="archetype-"]  {
     .regular {
          background-color: $white;
          padding: 30px;
       }
     .search-banner::after {
          background-color: transparent!important;
    }       
} 
