@import "colors";
  
.user-main {
  background-color: $white;
  padding: 50px 30px;
 .nav-pills > li > a {
      padding: 10px 15px;
      &.active,
      &:hover {
          color: $black;
     }
  } 
  h3 {
    border-bottom : 1px solid $gray;
    &:before {
      content: '_';
    }   
  }    
}  
  
