@import "colors";
  
.user-main {
  background-color: $white;
  padding: 50px 30px;
  .stats-section a {
    color: $blue;
  }
  table a,
  .badge-group-list a {
    color: $black;
  } 
 .nav-pills > li > a {
      padding: 10px 15px;
      &.active,
      &:hover {
        color: $black;
        background-color: $base;
     }
  } 
  h3 {
    border-bottom: 1px solid $gray-dark;
    margin-right: 20px;
    &:before {
      content: '_';
    } 
  }  
  .badge-info-item h3 {
     border-bottom: none;
  } 
  .stats-title {
      text-transform: inherit;
      font-size: 1.3rem;
      padding-bottom: 10px;
  }
  .more {
      text-decoration: underline;
      color: $black;
  }
  .top-sub-section {
      width: 49%;
      margin-top: 1.5rem;
  }
   .user-additional-controls .btn {
     background: $base;
     color: $black;
   }   
}  
  
