@import "variables/colors";
  
.user-content {
  background-color: var(--header_background);
}
  
.user-main {
  background-color: var(--header_background);
  padding: 50px 30px;
  .about .details {
      background: var(--header_background)!important;
  }  
  .top-section a {
      color: var(--quaternary);
  }
  table a,
  .badge-group-list a {
      color: var(--header_primary)!important;
  } 
 .nav-pills > li > a {
      padding: 10px 15px;
      &.active,
      &:hover {
        color: $black;
        background-color: $base;
     }
  } 
  h3 {
    border-bottom: 1px solid $gray-dark;
    margin-right: 20px;
    &:before {
      content: '_';
    } 
  }  
  .badge-info-item h3 {
     border-bottom: none;
  } 
  .stats-title {
      text-transform: inherit;
      font-size: 1.3rem;
      padding-bottom: 10px;
  }
  .more {
      text-decoration: underline;
      color: var(--header_primary)!important;
  }
  .top-sub-section {
      width: 49%;
      margin-top: 1.5rem;
  }
   .user-additional-controls .btn {
     background: $base;
     color: $black;
   } 
  .btn {
      .badge-group-list {
          background: var(--primary);
      }  
      .d-icon {
          color: $black;
      }    
  }  
}  


  
