.users-page,
.badges-page,
.groups-page,
.tags-page,
.about-page,
.static-faq,
.static-tos,
.static-privacy,
.body-moderators {
    #main-outlet-wrapper {
        background-color: var(--header_background);
        margin: 50px auto;
    }
    
    .tuned {
        display: none;
    }    
} 


.about-page,
.static-faq,
.static-tos,
.static-privacy,
.reviewable {
    .nav-pills {
        background-color: var(--primary-low)!important;
        padding: 5px 10px;
        li {
             margin-top: 8px;
            margin-bottom: 8px;
        }  
     }   
 }  

.about-page .about.description {
    display: none;   
} 
    
