.users-page,
.badges-page,
.groups-page,
.tags-page,
.about-page,
.static-faq,
.static-tos,
.static-privacy,
.body-moderators {
    #main-outlet-wrapper {
        background-color: var(--header_background);
        margin: 50px auto;
    }
    
    .tuned {
        display: none;
    }    
} 


.about-page,
.static-faq,
.static-privacy {
    .nav-pills {
        background-color: var(--primary-low)!important;
     }   
 }  

.static-faq,
.static-tos,
.static-privacy {
    .nav-pills li {
       margin-top: 8px;
     }   
}   

    
