@import "variables/colors";
  
.admin-interface {
  #main-outlet-wrapper #main-outlet {
      background-color: var(--header_background);
      margin: 20px 0;
      padding: 30px;
  }
  .boxed.white {
      background-color: var(--header_background);
  }
  .nav-pills {
      background-color: var(--primary-low)!important;
      & > li button.active,
      & > li a.active{
        background-color: var(--success);
      }
  }
}

