@import "variables/colors";
  
.admin-interface {
  #main-outlet-wrapper #main-outlet {
      background-color: var(--header_background);
      margin: 20px 0;
      padding: 30px;
  }
  .boxed.white {
      background-color: var(--header_background);
  }
  .nav-pills {
      background-color: var(--primary-100)!important;
      padding: 10px;
      & > li button.active,
      & > li a.active {
        background-color: var(--success);
      }
      & > li button:hover,
      & > li a:hover {
        color: var(--primary);
     }      
  }
  .select-kit .select-kit-header { 
     .selected-name .name {
        font-family: inherit!important;
        .category-name {
          font-family: inherit!important;
       }  
     }  
  }
  .admin-main-nav .nav-pills {
        background-color: var(--primary-low)!important; 
  }  
}

.group {
     background-color: var(--header_background);
     padding: 20px 30px; 
     margin-bottom: 50px;
    .group-details-container {
        background-color: var(--header_background);
    }
    .user-content-wrapper {
        padding: 0 15px;
    }
}

.reviewable {
    background-color: var(--header_background);
    padding: 20px 30px;
}  

