div.edit-category {
  background-color: var(--header_background)!important;
  .edit-category-title-bar {
      background-color: var(--header_background)!important;
   }
  .warning {
    margin-right: 20px;
  }  
}  

.edit-category-nav  {
  padding-left: 20px;
}  

.edit-category-tab-topic-template .d-editor-container {
  padding-right: 20px;
} 

.category-allowed-tag-groups a {
  color: var (--quaternary);
 } 

