div.edit-category {
  background-color: var(--header_background)!important;
  .edit-category-title-bar {
      background-color: var(--header_background)!important;
   }
  .warning {
    margin-right: 20px;
  }  
}  

.edit-category-nav {
  padding-left: 20px;
}  


