.badges-page {
  .badge-summary a {
    color: var(--quaternary);
  }
}

.show-badge {
  background-color: var(--header_background);
  padding: 2rem 1rem;
  margin-bottom: 50px;
}

.user-badges {
  padding: 1rem;
}  
