.bookmarks,
.top {
    .discovery-above-outlet {  
        span {
            border-left: 10px solid $base;
            height: 2.2em;
            position: relative;
            display: inline-block;
            &:before {
                font-family: supply-regular;
                font-size: 2em; 
                position: absolute;
                left: 25px;
                top: -5px;
            }     
        }
    }
    table.category-list {
        display: none;
    }    
}    

.top .discovery-above-outlet span:before {
     content: "Top";
}

.bookmarks .discovery-above-outlet span:before {
     content: "Followed";
}
