.body-bookmarks,
.body-top {
    .list-container {
        margin-top: 0;
        padding-top: 42px;
    }    
    .discovery-above-outlet {  
        span {
            border-left: 10px solid $base;
            height: 2.2em;
            position: relative;
            display: block;
          & category-title-header:before {
                content: 'Followed';
                font-family: supply-regular;
                font-size: 2em; 
                position: absolute;
                top: 0;
                padding: 0 20px;
                background-color: var(--header_background);
            } 
            & category-title-header:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                margin-right: -100%;
                border-bottom: 1px solid var(--tertiary);
                position: absolute;
                top: 31px;
                z-index: -1;
            }  
        }
    }
    table.category-list {
        display: none;
    }    
}   

.display-none {
    display: none
}   


/*
.body-top .discovery-above-outlet span:before {
     content: "Top";
}

.body-bookmarks .discovery-above-outlet span:before {
     content: "Followed";
}*/
