.bookmarks {
    .discovery-above-outlet span:after {
        content: "Followed Topics";
    }
    table.category-list {
        display: none;
    }    
}    

.top {
    .discovery-above-outlet span:after {
        content: "Top Topics";
        font-family: supply-regular;
    }
    &.categories-list.category .category-list {
        display: none;
    }   
}
