 .categories-list.category {
      #list-area {
        margin-top: 50px;
    }
 }


body[class*='category-'] {

  .category-title-name {
      overflow:hidden;
      &:after{
          content:'';
          display:inline-block;
          width:100%; 
          height:100%;
          margin-right:-100%;
          border-bottom:1px solid #000;
      }
    }

  .top-lists,
  .category-list thead,
  .category-logo { 
      display: none;
   }
  
  .topic-list {
      margin-top: 30px;
   }
  
  .list-container {
    margin-top: 0;
  }  

  table.category-list {
     tbody {
        display: flex;
        flex-wrap: wrap;
        border-top: none;
        padding: 0 15px;
        @media (max-width: 768px) {
            padding: 0 10px!important;
       }  
     }
     tr {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      border-bottom: none;
      margin-top: 35px;
      &:nth-child(odd) {
          padding-right: 5%;
      } 
      &:nth-child(even) {
          padding-left: 5%;
      } 
      @media (max-width: 768px) {
          width: 100%;
          padding-right: 0!important;
          padding-left: 0!important;
      }
      td.category {
          width: 85%;
          padding-top: 0;
      }  
      td.latest {
          padding-left: 0!important;
          max-width: 100%;
          .featured-topic {
              padding-left: 0;
        }
        a {
          color: $blue;
        }
      } 
      td.topics {
          font-size: 0.8em;
          width: 15%;
          .value:after {
              content: ' topics';
              color: var(--primary-med-or-secondary-high);  
           } 
      }   
    }
  }  
  .featured-topic a.last-posted-at, 
  .category-list .featured-topic a.last-posted-at {
     color: var(--primary-med-or-secondary-high)
  }
} 
  
@media (max-width: 768px) {
  .category-list .category-name,
  .category-list .featured-topic .title {
    white-space: inherit;
    text-overflow: inherit;
  }
}
