a.mention,
.archetype-private_message .topic-map .participants .user,
.archetype-private_message .topic-body .cooked {
  border-radius: 0;
}  

.topic-header-participants .trigger-user-card .icon img {
  height: 80%;
}

.archetype-private_message .post-notice {
  border-radius: 0;
} 

.moderator .regular > .cooked {
  background-color: var(--danger-low)
}  
  
