.reviewable-flagged-post .select-kit .select-kit-header {
    color: var(--primary);
    background-color: var(--primary-low)!important;
    &:hover {
        background-color: var(--primary-medium)!important;
        color: var(--secondary);
    }
}  

.user-flag-percentage .percentage-label.agreed,
.user-flag-percentage .percentage-label.agreed + .d-icon {
  color: var(--danger);
}
