.reviewable-flagged-post .select-kit .select-kit-header {
    border: 1px solid var(--primary-low-mid);
}  

.reviewable-action-dropdown .btn:hover {
     background: var(--primary)!important;
     border: 1px solid var(--primary);
}   
