.search-container .search-advanced .search-info,
.search-container .search-header,
.search-advanced,
.search-container .search-filters {
  background-color: var(--header_background)
}

.search-container .search-header {
  padding: 1rem 8%;
}

.search-container .search-filters .search-advanced-filters .search-advanced-options,
.search-container .search-filters details.search-advanced-additional-options {
  padding: 0.6rem;
}
  
