.tag-sort-options,
.tags-page .discovery-above-outlet {
  display: none;
}  

.tag-info {
  background-color:  var(--header_background)
}  

.tags-page {
  .all-tag-lists {
      background-color: var(--header_background);
      padding: 0 20px;
  }  
  .list-container {
      padding-top: 50px;
  } 
} 
