.tag-sort-options,
.tags-page .discovery-above-outlet {
  display: none;
}  

 

.tags-page {
  .all-tag-lists {
      background-color: var(--header_background);
      padding: 20px;
      margin-bottom: 50px;
  }  
  
  .list-controls {
     background-color: var(--header_background);
    .tags-controls {
      padding: 2rem 1rem;
    }
  }
  
  hr {
    background-color: var(--header_background);
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .list-container {
      padding-top: 50px;
  } 
  
  .tag-info {
    background-color:  var(--header_background);
    margin-bottom: 0;
    .discourse-tag.bullet {
        padding-bottom: 10px;
      }  
} 
