[class*="archetype-"]  {
     .search-banner::after {
          background-color: transparent!important;
     }    
     #topic-title {
          padding: 50px 30px 20px;
          margin-bottom: 0;
          background-color: $white;
      }    
     .posts:not(.posts-map),
     .topic-above-footer-buttons-outlet {
          padding: 0 30px;
          margin-bottom: 0;
          margin-top: 0;
          background-color: $white;
      }   
     #topic-footer-buttons {
          max-width: 100%;
          padding: 30px 30px 50px;
          margin-top: 0;
          background-color: $white;
      }
      .suggested-topics-wrapper {
          padding: 0 30px 50px; 
          background-color: $white;
          margin-bottom: 50px
      }   
     .suggested-topics-title {
          padding-top: 30px
     } 
     .topic-map {
          background-color: $white;
          border: none;
          .buttons .btn  { 
               background-color: $white;
               border-left: 0;
          }    
     } 
     .topic-avatar {
          padding-top: 30px;
     }     
     .topic-body {
          padding: 30px 0 20px 0;
          width: 80%;
      }  
     .topic-category {
          margin-top: 5px;
     } 
     
     .container.posts .topic-navigation {
          margin-left: 0;
          margin-right: 4em;
     }
     
     .discourse-tag.bullet {
          align-items: baseline;
     }
 }
