@import "variables/colors";

.badge-wrapper.bullet .badge-category-parent-bg {
  display: none;
}  

.badge-wrapper.bullet .badge-category-bg {
  width: 5px;
}    

.topic-list { 
  .title {
    color: var(--primary)!important;
  }  
  .topic-icon-container {
    display: none;
  } 
  tr:nth-child(odd) {
    background-color: var(--secondary);
  }    
  tr:nth-child(even) {
    background-color: var(--header_background);
  }
   .topic-list-header tr {
     background-color: var(--header_background);
  }
}  
  
  .categories-list.category,
  .navigation-topics {
    .badge-category-parent-bg {
      display: none!important;
    }
}  

.tags-page {
    #main-outlet {
      padding-top: 1.5em;
    }
}  

.badge-notification.new-topic::before {
    background: $base;
    height: 10px;
    width: 10px;
}  

.category-list .topics .badge-notification, 
.category-list .category .badge-notification {
  color: $black;
  font-size: 0.8rem;
  background: $base;
  padding: 3px 5px;
  display: inline-block;
}

.topic-list .badge-notification.new-topic {
  top: 0px;
  left: 6px;
}
