@import "variables/colors";

.badge-wrapper.bullet .badge-category-parent-bg {
  display: none;
}  

.badge-wrapper.bullet .badge-category-bg {
  width: 5px;
}    

.topic-list { 
  .title {
    color: var(--primary)!important;
  }  
  .topic-icon-container {
    display: none;
  } 
  tr:nth-child(odd) {
    background-color: var(--secondary);
  }    
  tr:nth-child(even) {
    background-color: var(--header_background);
  }
   .topic-list-header tr {
     background-color: var(--header_background);
  }
}  
  
  .categories-list.category,
  .navigation-topics {
    .badge-category-parent-bg {
      display: none!important;
    }
}  

.tags-page {
    #main-outlet {
      padding-top: 1.5em;
    }
}  

.badge-notification.new-topic::before {
    background: var(--success);
}  


