@import "home-categories";
@import "top-menu";
@import "search-banner";
@import "navigation";
@import "category-page";
@import "footer-technical-discussions";
@import "footer";
@import "breadcrumb";
@import "header-forum";
@import "header-arturia";
@import "admin";
@import "reorder-categories";

body {
  background-color: $gray-light;
}

.list-container {
  background-color: $white;
  margin: 42px 0;
  padding: 0 30px;
}

#main-outlet-wrapper{
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
}  
