/**********************************************************  
WEBPACK VARIABLES 
********************************************************** /

/******************** FONTS ********************/
@mixin font-face-supply-loader($name, $family, $variant , $path, $weight: normal,$style: normal) {
  font-family: 'supply';
  src: url('#{$path}/#{$variant}/#{$family}-#{$variant}.woff2');
  font-weight: $weight;
  font-style: $style;
}

$supply-fonts-path: '@fonts/supply';

@font-face {
  @include font-face-supply-loader('supply','supply','regular',$supply-fonts-path);
}

@font-face {
  @include font-face-supply-loader('supply','supply','thin',$supply-fonts-path,100);
}

@font-face {
  @include font-face-supply-loader('supply','supply','light',$supply-fonts-path,300);
}

@font-face {
  @include font-face-supply-loader('supply','supply','regular',$supply-fonts-path,400);
}

@font-face {
  @include font-face-supply-loader('supply','supply','medium',$supply-fonts-path,500);
}

@font-face {
  @include font-face-supply-loader('supply','supply','bold',$supply-fonts-path,700);
}


@mixin font-face-montserrat-loader($name, $family, $variant , $path, $weight: normal,$style: normal) {
  font-family: 'montserrat';
  src: url('#{$path}/#{$variant}/#{$family}-#{$variant}.ttf');
  font-weight: $weight;
  font-style: $style;
}

$montserrat-fonts-path: '@fonts/montserrat';

@font-face {
  @include font-face-montserrat-loader('montserrat','montserrat','light',$montserrat-fonts-path,300);
}

@font-face {
  @include font-face-montserrat-loader('montserrat','montserrat','regular',$montserrat-fonts-path,400);
}

@font-face {
  @include font-face-montserrat-loader('montserrat','montserrat','bold',$montserrat-fonts-path,700);
}



/******************** LAYOUTS ********************/
// reponsive font
html {
    font-size: 13px;
    scroll-behavior: smooth;
    * {
        scroll-margin: 100px;
    }
}

.layout-up-spacer {
    position: absolute;
    top: -4.25rem;
    left: 1.4rem;
    right: 1.4rem;
    height: 4.25rem;
    z-index: 1;
}
.layout-down-spacer {
    position: absolute;
    bottom: -4.25rem;
    left: 1.4rem;
    right: 1.4rem;
    height: 4.25rem;
    z-index: 1;
}
.overlayBg:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.horizontal-scroller-layout.section {
    min-height: 150px;
    margin: 0 $spacer;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include media-breakpoint-up(sm) {
        margin: 0;
    }
}

.background-large,
.background-small {
    align-items: center;
    background-position: center center;
    display: flex;
}

.background-small {
    min-height: 400px;

    @include media-breakpoint-up(sm) {
        min-height: 750px;
    }
}

.background-large {
    min-height: 500px;

    @include media-breakpoint-up(sm) {
        min-height: 960px;
    }
}

ul {
    list-style-type: square;
}

.bg-grey {
    background-color: #e9e9e9;
}

.collection-list {
    list-style-type: square;
    margin: 0;

    li {
        margin: 1.5rem 0 0 1.25rem;
    }
}

.layout-title-h2 {
    p {
        font-size: 24px;
        line-height: 2rem;
    }
}


.secondary-font {
    font-family: 'montserrat';
    font-size: $font-size-13;
}

.img {
    &-invert {
        filter: invert(100%);
    }
    &-6 {
        width: 6rem;
    }
}

.pointer {
    cursor: pointer;
}

.img-fluid {
    @include media-breakpoint-down(md) {
        &-md {
            max-width: 100%;
        }
    }
}


.bg-freak {
    background-color: getThemeColor('freak', 'base');
}

.bg-step {
    background-color: getThemeColor('step', 'base');
}

.bg-lab {
    background-color: getThemeColor('lab', 'base');
}

.bg-fuse {
    background-color: getThemeColor('fuse', 'base');
}

.bg-brute {
    background-color: getThemeColor('brute', 'base');
}

.t0 {
    top: 0;
}
.l0 {
    left: 0;
}
.h-12 {
    height: 12rem;
}
.h-2 {
    height: 2rem;
}

.maxw-22 {
    max-width: 22rem;
}

.reset-absolute {
    top: 0 !important;
    left: 0 !important;
}

.pagination {
    ul {
        @extend .pagination;
    }
    li{
        @extend .page-item;
    }
    .pagenav {
        @extend .page-link;
    }
}

@media (min-width: 992px) {
    #minifuse-custom_element-1 {
      margin-top: -10vw;
    }
  }
  @media (max-width: 767px) {
    #minifuse-custom_element-2 {
      padding-bottom: 85%;
    }
}

.line-through {
    text-decoration: line-through;
}


/**********************************************************  
WEBPACK SCSS 
********************************************************** /

/******************** TYPO ********************/
a {
  font-weight: $font-weight-bold;

  &[href] {
    cursor: pointer;
  }
}

.prep {
  &:before {
    content: "_";
  }
}

h1, .h1 , h2, .h2 {
  &:not(.small):not(.no-prep) {
    @extend .prep;
  }
}

h1, .h1 { &.small, small{ @include font-size($h1-font-size); font-weight: $font-weight-lighter; } }
h2, .h2 { &.small, small{ @include font-size($h2-font-size); font-weight: $font-weight-lighter; } }
h3, .h3 { &.small, small{ @include font-size($h3-font-size); font-weight: $font-weight-lighter; } }
h4, .h4 { &.small, small{ @include font-size($h4-font-size); font-weight: $font-weight-lighter; } }
h5, .h5 { &.small, small{ @include font-size($h5-font-size); font-weight: $font-weight-lighter; } }
h6, .h6 { &.small, small{ @include font-size($h6-font-size); font-weight: $font-weight-lighter; } }
.huge-font {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;

  @media (min-width: getBreakPoint(sm)) {
    font-size: 5.625rem;
  }
}
p,
li {
  &:last-child {
    margin-bottom: 0;
  }

  &.strong,
  strong,
  .strong {
    font-weight: 500;
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

::selection {
  color: $white;
  background-color: var(--dark-color);

  .text-white & {
    color: $black;
    background-color: var(--light-color);
  }
  .text-black & {
    color: $white;
    background-color: var(--dark-color);
  }
}
.text-black::selection {
  color: $white;
  background-color: var(--dark-color);
}
.text-white::selection {
  color: $black;
  background-color: var(--light-color);
}


